---
import ErrorPage from "@/custom/404";
import BaseLayout from "@/layouts/BaseLayout.astro";
---
<head>
    <meta charset="UTF-8" />
    <title>Lovely Trails - Itinerary Generator - 404</title>
</head>

<BaseLayout>
    <ErrorPage />
</BaseLayout>
