---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Contact1 from '@/components/astro/Contact1.astro';
---

<head>
    <meta charset="UTF-8" />
    <title>Lovely Trails - Itinerary Generator</title>
</head>

<BaseLayout>
    <Contact1 />
</BaseLayout>
